@page "/"
<PageTitle>Home</PageTitle>

<div class="orders-component main-container" style="display:flex; justify-content:center; align-items:center; flex-direction:column; text-align:center;">
    <div style="display:flex; justify-content:center; align-items:center; flex-direction:column; text-align:center;">
        <h1>Hello!</h1>

        <p class="w-100">
            This is my solution to <b>INTUS Windows Lt</b> coding task. <br /> Please proceed to <b>Orders</b> page to test functionality
        </p>
    </div>


</div>
